<template>
    <div>
        <div class="card-header">
            Units
            <div class="float-right">
                <b-btn @click=""></b-btn>
            </div>
        </div>

        <b-table
            hover
            :busy.sync="isBusy"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :items="myProvider"
            :fields="fields"
            primary-key="id"
        >
            <template v-slot:cell(actions)="data" class="test">
                <b-dropdown
                    split
                    split-variant="outline-primary"
                    variant="primary"
                    text="Split Variant Dropdown"
                    class="m-2"
                >
                    <b-dropdown-item href="#">Action</b-dropdown-item>
                    <b-dropdown-item href="#">Another action</b-dropdown-item>
                    <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                </b-dropdown>
            </template>
        </b-table>

        <b-modal v-model="show.create" ref="my-modal" hide-footer title="Using Component Methods">
            <div class="d-block text-center">
                <h3>Hello From My Modal!</h3>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="handleCancel">Close Me</b-button>
            <b-button class="mt-2" variant="outline-warning" block @click="handleEdit">Toggle Me</b-button>
        </b-modal>
    </div>
</template>

<script>
    export default {
        props: [],

        data () {
            return {
                sortBy: 'id',
                sortDesc: true,
                fields: [
                    { key: 'id', sortable: true },
                    { key: 'code', sortable: true },
                    { key: 'name', sortable: true },
                    { key: 'actions', sortable: false }
                ],
                show: {
                    create: false
                },
                isBusy: false,
                items: []
            }
        },

        mounted() {
        },

        methods: {
            myProvider (atr) {
                if (atr.sortBy === '') {
                    return -1
                }

                let promise = axios.get('/api/units', { params: {...atr} })

                return promise.then(({ data }) => {
                    return data.map(item => ({
                        ...item,
                        actions: ''
                    }))
                }).catch(error => {
                    return []
                })
            },

            handleCancel () {
            },

            handleEdit () {
            }
        }
    }
</script>
