<template>
    <b-navbar toggleable="lg" type="dark" variant="dark" sticky>
        <b-container>
            <b-navbar-brand href="/">{{ appName }}</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <template v-if="isGuest">
                        <template v-if="hasRegister">
                            <b-nav-item :href="routes.login">Login</b-nav-item>
                            <b-nav-item :href="routes.register">Register</b-nav-item>
                        </template>
                    </template>

                    <template v-else>
                        <b-nav-item-dropdown right>
                            <template v-slot:button-content>{{ name }}</template>

                            <template v-if="isAdmin">
                                <b-dropdown-item :href="routes.units">Units</b-dropdown-item>
                                <b-dropdown-item :href="routes.deliveries">Deliveries</b-dropdown-item>
                            </template>
                            <b-dropdown-item :href="routes.logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </template>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
    export default {
        name: 'TopNavbar',
        props: ['appName', 'hasRegister', 'isGuest', 'isAdmin', 'name', 'routes'],
    }
</script>
