<template>
    <div>
        <button type="button" class="btn btn-sm" id="dropdownMenuButton" data-toggle="dropdown">
            <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
            </svg>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" @click="handleCancel">Cancel</a>
            <a class="dropdown-item" href="#" @click="handleEdit">Edit details</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['deliveryId'],

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            handleCancel () {
                console.warn(this.deliveryId)
            },

            handleEdit () {
                console.warn(this.deliveryId)
            }
        }
    }
</script>
