<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">New Purchase Order Query</div>

                    <div class="card-body">
                        <div v-if="errorMessage" class="alert alert-danger" role="alert" v-html="errorMessage" />

                        <form @submit.prevent.stop="orderLookup">
                            <div class="form-group">
                                <label for="purchaseOrderNumber">Purchase Order Number</label>
                                <input required type="text" name="purchase_order_number" v-model="form.purchase_order_number" class="form-control form-control-lg" id="purchaseOrderNumber">
                            </div>

                            <div class="form-group">
                                <label for="postcode">Postcode</label>
                                <input required type="text" name="postcode" v-model="form.postcode" class="form-control" id="postcode">
                            </div>

                            <div class="form-group">
                                <label for="notificationEmail">Email address</label>
                                <input required type="email" name="email" v-model="form.email" class="form-control" id="notificationEmail" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">It will be used for notification messages.</small>
                            </div>

                            <button :disabled="loading.orderLookup" type="submit" class="btn btn-primary">{{loading.orderLookup ? 'Please wait...' : 'Submit'}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                errorMessage: null,
                loading: {
                  orderLookup: false
                },
                form: process.env.NODE_ENV === 'development' ? {
                    purchase_order_number: '106040',
                    postcode: 'M4 6AF',
                    email: 'kose.onur@gmail.com'
                } : {
                    purchase_order_number: '',
                    postcode: '',
                    email: ''
                }
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            orderLookup () {
                this.errorMessage = null
                this.loading.orderLookup = true

                axios.post('/api/orders', {
                    ...this.form
                }).then(({ data }) => {
                    window.location = `/orders/${data.uuid}`
                }).catch(e => {
                    if (e.response) {
                        this.makeError(e.response.data.message)
                    }
                }).then(() => {
                    this.loading.orderLookup = false
                })
            },

            makeError (code) {
                let message = ''

                switch (code) {
                    case 'order_not_found':
                        message = `The order data was not found.<br/>Please check if your Purchase Order Number and/or Postcode information are correct.`
                        break
                    default:
                        message = `An unexpected error has occurred. Please try again later.`
                }

                this.errorMessage = message
            }
        }
    }
</script>
